<!DOCTYPE html>
<html>
  <head>
    <title>SUCCESS!</title>
    <link href="/assets/Styles/styles.css" rel="stylesheet">
    {{- if .puppet_server -}}
    <meta http-equiv="Refresh" content="0.5;url=/config/puppetServer/{{ .puppet_server.ID }}/tasks">
    {{- else -}}
    <meta http-equiv="Refresh" content="0.5;url=/config/puppetTask/{{ .task.ID }}">
    {{- end -}}
  </head>
  <body>
    <h1>
      SUCCESS!
    </h1>
    Redirecting back to Puppet Task...
  </body>
</html>
