<html>
  <head>
    <title>{{ .title }}</title>
  </head>
  <body>
    {{- template "common-navBar.gohtml" . }}
    <center>
    <h1>
      {{ .title }}
    </h1>
    </center>

    <h2>SHOW ENVIRONMENT NOT IMPLEMENTED</h2>

  </body>
</html>
