<!DOCTYPE html>
<html>
  <head>
    <title>SUCCESS!</title>
    <link href="/assets/Styles/styles.css" rel="stylesheet">
    <meta http-equiv="Refresh" content="0.5;url=/config/role/{{ .roleName }}">
  </head>
  <body>
    <h1>
      SUCCESS!
    </h1>
    Redirecting back to Role...
  </body>
</html>
